node-red-ui.json
[
    {
        "id": "959713e9ef15b33a",
        "type": "tab",
        "label": "Sign Up ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1a5ea6e5b62011a",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46e34e34787215c0",
        "type": "tab",
        "label": "Temperature and Humidity",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb4cba9eeaea9dad",
        "type": "tab",
        "label": "Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "892aaae7182dce6a",
        "type": "ui_group",
        "name": "Default",
        "tab": "5ba352c897b8b12c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ba352c897b8b12c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12e79c5a1392b0c4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#030307",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#030307",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#030307",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1a1a3d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#030307",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "48c8904947e5f631",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a8fb29437dafb52b",
        "type": "ui_group",
        "name": "Default",
        "tab": "7237b0658d34ce6f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d4133c9155fdfa4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7237b0658d34ce6f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6587bb76865c6721",
        "type": "ui_tab",
        "name": "SignUpTab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1853bdb01bca2068",
        "type": "ui_group",
        "name": "Trang Đăng Ký",
        "tab": "6587bb76865c6721",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09ce1fd16ace9a83",
        "type": "ui_tab",
        "name": "StatusTab",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b109a900dc0b4299",
        "type": "ui_tab",
        "name": "LogInTab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c671bce3724eda32",
        "type": "ui_group",
        "name": "Trang Đăng Nhập",
        "tab": "b109a900dc0b4299",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4e98edf4769eb4d",
        "type": "ui_group",
        "name": "Trang Quản Lý",
        "tab": "09ce1fd16ace9a83",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "acacd5143ed5d34f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "358779d1e87ddd82",
        "type": "ui_group",
        "name": "History",
        "tab": "cf82fb25652dc4a2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f808b69393948b7",
        "type": "ui_group",
        "name": "Login",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c64b783c42bdedda",
        "type": "ui_group",
        "name": "Logout",
        "tab": "cf82fb25652dc4a2",
        "order": 6,
        "disp": true,
        "width": "2",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bd5cf0ad5cfca6e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4460ce5202b9df5c",
        "type": "ui_group",
        "name": "Temperature and humidity",
        "tab": "cf82fb25652dc4a2",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9182e764bc2d1254",
        "type": "ui_group",
        "name": "chart",
        "tab": "cf82fb25652dc4a2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe2d1663c57724d",
        "type": "ui_group",
        "name": "Control",
        "tab": "cf82fb25652dc4a2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d9f163294fb9227",
        "type": "ui_group",
        "name": "Sign in",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf82fb25652dc4a2",
        "type": "ui_tab",
        "name": "Smart locker LOL tracking",
        "icon": "settings",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8a708b2f28e83c56",
        "type": "ui_tab",
        "name": "LogOutTab",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee55287e84322ba8",
        "type": "ui_group",
        "name": "Default",
        "tab": "8a708b2f28e83c56",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "400f17b224da8621",
        "type": "ui_tab",
        "name": "SignUpTab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d5c436054d988ce9",
        "type": "ui_group",
        "name": "Trang Đăng Ký",
        "tab": "400f17b224da8621",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e25fbf8bf41181a6",
        "type": "ui_tab",
        "name": "StatusTab",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ea12345b2d33ed0",
        "type": "ui_tab",
        "name": "LogInTab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e6bc74c871db5e8",
        "type": "ui_group",
        "name": "Trang Đăng Nhập",
        "tab": "8ea12345b2d33ed0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca4de4f1fbb01085",
        "type": "ui_group",
        "name": "Trang Quản Lý",
        "tab": "e25fbf8bf41181a6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e5231a0d25397df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "12111436f1e3fc07",
        "type": "ui_group",
        "name": "History",
        "tab": "afef167a27687abb",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8864be9c8fccaeb",
        "type": "ui_group",
        "name": "Login",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f723c0be1f93bcd",
        "type": "ui_group",
        "name": "Logout",
        "tab": "afef167a27687abb",
        "order": 6,
        "disp": true,
        "width": "2",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fafc09964ec5a6f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bf6db9d90ec7a4e5",
        "type": "ui_group",
        "name": "Temperature and humidity",
        "tab": "afef167a27687abb",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c4b226e8e819202",
        "type": "ui_group",
        "name": "chart",
        "tab": "afef167a27687abb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ce9ee3403a8972c",
        "type": "ui_group",
        "name": "Control",
        "tab": "afef167a27687abb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f111a7e1b7caa2d",
        "type": "ui_group",
        "name": "Sign in",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afef167a27687abb",
        "type": "ui_tab",
        "name": "Smart locker LOL tracking",
        "icon": "settings",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc654fdfb7926494",
        "type": "ui_tab",
        "name": "LogOutTab",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "42ac839944e361ae",
        "type": "ui_group",
        "name": "Default",
        "tab": "bc654fdfb7926494",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "994d90d6fbc5a06e",
        "type": "mongodb3",
        "uri": "mongodb+srv://anhquan2004162:anhquan162@cluster0.ryy4wff.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "e44eed23bfcbd07f",
        "type": "mongodb3",
        "uri": "mongodb+srv://hmquan22:iB6kbwh8wJkQrdku@cluster0.asm4k.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "c5a4c487afea4679",
        "type": "mongodb3",
        "uri": "mongodb+srv://hmquan22:nodered@cluster0.xvm7n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "f6ca4f4080524182",
        "type": "mongodb3",
        "uri": "mongodb+srv://hmquan22:PWTRXijl4wl5rViN@cluster0.d03yv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "659fdf5b0b069cd0",
        "type": "mongodb3",
        "uri": "mongodb+srv://anhquan2004162:anhquan162@cluster0.ryy4wff.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "d502d27466fdea61",
        "type": "mongodb3",
        "uri": "mongodb+srv://juinkinn:22127478@iot.8xeuq.mongodb.net/?retryWrites=true&w=majority&appName=iot",
        "name": "IOT",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "bea6584a1d4e2c12",
        "type": "ui_form",
        "z": "959713e9ef15b33a",
        "name": "",
        "label": "Sign Up",
        "group": "d5c436054d988ce9",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "Name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Confirm Password",
                "value": "ConfirmPassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Name": "",
            "Username": "",
            "Password": "",
            "ConfirmPassword": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 60,
        "y": 100,
        "wires": [
            [
                "b68e62e5d7b3b602"
            ]
        ]
    },
    {
        "id": "a1631bd26fce7129",
        "type": "ui_ui_control",
        "z": "959713e9ef15b33a",
        "name": "",
        "events": "all",
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "df030a2fed7f4f92",
        "type": "change",
        "z": "959713e9ef15b33a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"tab\":\t    \"LogInTab\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "a1631bd26fce7129",
                "ecbd058c62e80f06"
            ]
        ]
    },
    {
        "id": "b68e62e5d7b3b602",
        "type": "function",
        "z": "959713e9ef15b33a",
        "name": "Check password",
        "func": "if (msg.payload.Password === msg.payload.ConfirmPassword) {\n    msg.payload = {\n        Password: msg.payload.Password,\n        Name: msg.payload.Name,\n        Username: msg.payload.Username\n    };\n    return msg;\n} else {\n    return null; // Stops the flow if passwords do not match\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "2d42c1cb42f54015"
            ],
            []
        ]
    },
    {
        "id": "ed7185e48d2a4f41",
        "type": "comment",
        "z": "959713e9ef15b33a",
        "name": "Cần chỗ để lưu data cho sign up",
        "info": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "841ca953d24a1d11",
        "type": "ui_toast",
        "z": "959713e9ef15b33a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "ab48fd501d6b4d0b",
        "type": "ui_button",
        "z": "959713e9ef15b33a",
        "name": "",
        "group": "d5c436054d988ce9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button switch to login",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "35e2f092fc8733f7"
            ]
        ]
    },
    {
        "id": "35e2f092fc8733f7",
        "type": "function",
        "z": "959713e9ef15b33a",
        "name": "sign in",
        "func": "msg.payload = {\n    \"tab\": \"LogInTab\"\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "c9ded74cfb063ae8"
            ]
        ]
    },
    {
        "id": "c9ded74cfb063ae8",
        "type": "ui_ui_control",
        "z": "959713e9ef15b33a",
        "name": "To login",
        "events": "all",
        "x": 520,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2d42c1cb42f54015",
        "type": "mongodb3 in",
        "z": "959713e9ef15b33a",
        "service": "_ext_",
        "configNode": "d502d27466fdea61",
        "name": "db",
        "collection": "juinkinn",
        "operation": "insertOne",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "df030a2fed7f4f92"
            ]
        ]
    },
    {
        "id": "ecbd058c62e80f06",
        "type": "function",
        "z": "959713e9ef15b33a",
        "name": "Signup Success",
        "func": "msg.payload = 'Signup successfully'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "841ca953d24a1d11"
            ]
        ]
    },
    {
        "id": "aab6ff4ce2559514",
        "type": "ui_form",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "label": "Log In",
        "group": "8e6bc74c871db5e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 50,
        "y": 120,
        "wires": [
            [
                "de0f145996ea47f8"
            ]
        ]
    },
    {
        "id": "5923e49aec5a30fd",
        "type": "ui_ui_control",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "events": "all",
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4b2a13cb5c5b8fd3",
        "type": "ui_toast",
        "z": "b1a5ea6e5b62011a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "54d9003b9dc92d0f",
        "type": "function",
        "z": "b1a5ea6e5b62011a",
        "name": "Check login",
        "func": "var dbuser = msg.payload.dbUser;\nvar dbpass = msg.payload.dbPass;\n\n// Extract input password\nvar inputPassword = msg.payload.Password;\nvar inputUser = msg.payload.Username;\nmsg.payload = 0; // Initialize to 0 before checking\n\n// Check if user exists and validate credentials\nif (dbuser !== undefined && dbpass !== undefined) {\n    if (inputPassword === dbpass && inputUser === dbuser) {\n        msg.payload = 1; // Set to 1 for success\n    }\n} else { // User not found\n    msg.payload = 0; // Set to 0 if no user found or invalid credentials\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "91557df1313a148f"
            ]
        ]
    },
    {
        "id": "77b67398f5ec2081",
        "type": "ui_button",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "group": "8e6bc74c871db5e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button switch to sign up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "bf9882ee297cf9f8"
            ]
        ]
    },
    {
        "id": "bf9882ee297cf9f8",
        "type": "function",
        "z": "b1a5ea6e5b62011a",
        "name": "sign in",
        "func": "msg.payload = {\n    \"tab\": \"SignUpTab\"\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "2dea4ad1454c15b0"
            ]
        ]
    },
    {
        "id": "2dea4ad1454c15b0",
        "type": "ui_ui_control",
        "z": "b1a5ea6e5b62011a",
        "name": "To signup",
        "events": "all",
        "x": 480,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "de0f145996ea47f8",
        "type": "mongodb3 in",
        "z": "b1a5ea6e5b62011a",
        "service": "_ext_",
        "configNode": "d502d27466fdea61",
        "name": "db",
        "collection": "juinkinn",
        "operation": "findOne",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "350ce786e9fcb6ea"
            ]
        ]
    },
    {
        "id": "91557df1313a148f",
        "type": "switch",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "6aa054bc44214b4c",
                "f9bbc9e7927966ab",
                "265940700c469fb2"
            ],
            [
                "42bffd1b62e90821"
            ]
        ]
    },
    {
        "id": "350ce786e9fcb6ea",
        "type": "function",
        "z": "b1a5ea6e5b62011a",
        "name": "store query results",
        "func": "msg.payload.dbPass = msg.payload.Password;\nmsg.payload.dbName = msg.payload.Name;\nmsg.payload.dbUser = msg.payload.Username;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 300,
        "wires": [
            [
                "54d9003b9dc92d0f"
            ]
        ]
    },
    {
        "id": "6aa054bc44214b4c",
        "type": "change",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"tabs\":{\t        \"hide\":[\t            \"SignUpTab\",\t            \"LogInTab\"\t        ]\t    }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "5923e49aec5a30fd"
            ]
        ]
    },
    {
        "id": "f9bbc9e7927966ab",
        "type": "change",
        "z": "b1a5ea6e5b62011a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"tab\":\t    \"Home\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "5923e49aec5a30fd"
            ]
        ]
    },
    {
        "id": "42bffd1b62e90821",
        "type": "function",
        "z": "b1a5ea6e5b62011a",
        "name": "Fail msg",
        "func": "msg.payload = 'Login failed'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "4b2a13cb5c5b8fd3"
            ]
        ]
    },
    {
        "id": "265940700c469fb2",
        "type": "function",
        "z": "b1a5ea6e5b62011a",
        "name": "Success msg",
        "func": "msg.payload = 'Login successfully'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "f4ef68f1952ae067"
            ]
        ]
    },
    {
        "id": "f4ef68f1952ae067",
        "type": "ui_toast",
        "z": "b1a5ea6e5b62011a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "b03d4de2b7575b6b",
        "type": "mqtt in",
        "z": "46e34e34787215c0",
        "name": "",
        "topic": "/wateringTKMQ/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d4133c9155fdfa4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "60525213f4073b92",
                "6792e62bf422132e"
            ]
        ]
    },
    {
        "id": "60525213f4073b92",
        "type": "debug",
        "z": "46e34e34787215c0",
        "name": "debug temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "6792e62bf422132e",
        "type": "ui_gauge",
        "z": "46e34e34787215c0",
        "name": "",
        "group": "a8fb29437dafb52b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "9fda2c65772adf0e",
        "type": "mqtt in",
        "z": "46e34e34787215c0",
        "name": "",
        "topic": "/wateringTKMQ/humid",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d4133c9155fdfa4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "903f141b1ddf6cf9",
                "e3d6250be763dcd1"
            ]
        ]
    },
    {
        "id": "903f141b1ddf6cf9",
        "type": "debug",
        "z": "46e34e34787215c0",
        "name": "debug humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "e3d6250be763dcd1",
        "type": "ui_gauge",
        "z": "46e34e34787215c0",
        "name": "",
        "group": "a8fb29437dafb52b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "8e6fb80e84214821",
        "type": "http request",
        "z": "46e34e34787215c0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?id=1580578&appid=bdc87536ce16f695eea1f63159c980f5&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "3c48b1a2efdbad2b"
            ]
        ]
    },
    {
        "id": "a7055636b59f1990",
        "type": "inject",
        "z": "46e34e34787215c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "8e6fb80e84214821"
            ]
        ]
    },
    {
        "id": "3c48b1a2efdbad2b",
        "type": "json",
        "z": "46e34e34787215c0",
        "name": "temp",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "3136cd495f3acb6b",
                "885629618b47bbb9"
            ]
        ]
    },
    {
        "id": "38f295e7dec1cee6",
        "type": "inject",
        "z": "46e34e34787215c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "789b7a5d7c9ec197"
            ]
        ]
    },
    {
        "id": "789b7a5d7c9ec197",
        "type": "http request",
        "z": "46e34e34787215c0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=11K54XX95HWOFJD1&field1=27",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 540,
        "wires": [
            [
                "885629618b47bbb9"
            ]
        ]
    },
    {
        "id": "885629618b47bbb9",
        "type": "debug",
        "z": "46e34e34787215c0",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "3136cd495f3acb6b",
        "type": "function",
        "z": "46e34e34787215c0",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "089c9d982cfa2bfa",
        "type": "ui_button",
        "z": "46e34e34787215c0",
        "name": "Logout",
        "group": "a8fb29437dafb52b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "75038e493769e24b"
            ]
        ]
    },
    {
        "id": "75038e493769e24b",
        "type": "function",
        "z": "46e34e34787215c0",
        "name": "Logout",
        "func": "msg.payload = {\n    \"tab\": \"LogInTab\"\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 660,
        "wires": [
            [
                "a7c74af764336bd6"
            ]
        ]
    },
    {
        "id": "a7c74af764336bd6",
        "type": "ui_ui_control",
        "z": "46e34e34787215c0",
        "name": "Logout",
        "events": "all",
        "x": 450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f5bbc0b1e2fb1057",
        "type": "comment",
        "z": "eb4cba9eeaea9dad",
        "name": "Các nút bật tắt tính năng như trong báo cáo",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "999c2c2b5806dc87",
        "type": "ui_toast",
        "z": "eb4cba9eeaea9dad",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "41b84ece01dda111",
        "type": "ui_toast",
        "z": "eb4cba9eeaea9dad",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "76a4d731af35fd36",
        "type": "ui_toast",
        "z": "eb4cba9eeaea9dad",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "2961b0be3e0bfd49",
        "type": "ui_toast",
        "z": "eb4cba9eeaea9dad",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "bf79c17553ede716",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "Mở/tắt cảm biến",
        "func": "if (msg.payload == \"true\") {\n    msg.payload = \"on\"\n}\nelse {\n    msg.payload = \"off\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "037b98791ad288ea",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "Mở/khóa cửa",
        "func": "//Khóa\nif (msg.payload == \"true\")\n{\n    msg.payload = \"Door locked\"\n}\n//Mở\nelse{\n    msg.payload = \"Door open\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "e68e4ecefeff3588",
                "bf43c7bddecf28f0",
                "c0421e8fbdd8f416",
                "43b3a0c95548ee55"
            ]
        ]
    },
    {
        "id": "e68e4ecefeff3588",
        "type": "mqtt out",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "topic": "/SmartLock/Control/DoorControl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e5231a0d25397df",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "bf43c7bddecf28f0",
        "type": "debug",
        "z": "eb4cba9eeaea9dad",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "c0421e8fbdd8f416",
        "type": "ui_text",
        "z": "eb4cba9eeaea9dad",
        "group": "5ce9ee3403a8972c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái cửa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "43b3a0c95548ee55",
        "type": "http request",
        "z": "eb4cba9eeaea9dad",
        "name": "Write data to DB",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=7PM0WMVTN41DD5KP&field3={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d2f97f2c33cf11",
        "type": "ui_switch",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "label": "Hệ thống chính",
        "tooltip": "",
        "group": "ca4de4f1fbb01085",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "8352040215c980c0"
            ]
        ]
    },
    {
        "id": "8352040215c980c0",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "function 12",
        "func": "var msg1 = {};\nvar msg2 = {};\n\n// Check if the switch button sends true or false\nif (msg.payload === true) {\n    // If true, prepare a success notification\n    msg1.payload = \"Hệ thống chính is ON.\";\n    return [msg1, null]; // Send msg1 to output 1\n} else if (msg.payload === false) {\n    // If false, prepare a failure notification\n    msg2.payload = \"Hệ thống chính is OFF.\";\n    return [null, msg2]; // Send msg2 to output 2\n} else {\n    // If the payload is neither true nor false (unexpected case)\n    return null; // Do nothing\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "999c2c2b5806dc87"
            ]
        ]
    },
    {
        "id": "cb67b46d9e2ed47c",
        "type": "ui_switch",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "label": "Tự động tưới cây",
        "tooltip": "",
        "group": "ca4de4f1fbb01085",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "efb0b5c86ffd09d0"
            ]
        ]
    },
    {
        "id": "16109313faee93fd",
        "type": "ui_switch",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "label": "Thông báo người dùng",
        "tooltip": "",
        "group": "ca4de4f1fbb01085",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "ee41fc482c8e0956"
            ]
        ]
    },
    {
        "id": "f1119d4be7e12c26",
        "type": "ui_switch",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "label": "Tự động điều chỉnh môi trường",
        "tooltip": "",
        "group": "ca4de4f1fbb01085",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "9af89eefb86ee7cf"
            ]
        ]
    },
    {
        "id": "efb0b5c86ffd09d0",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "function 13",
        "func": "var msg1 = {};\nvar msg2 = {};\n\n// Check if the switch button sends true or false\nif (msg.payload === true) {\n    // If true, prepare a success notification\n    msg1.payload = \"Tự động tưới cây is ON.\";\n    return [msg1, null]; // Send msg1 to output 1\n} else if (msg.payload === false) {\n    // If false, prepare a failure notification\n    msg2.payload = \"Tự động tưới cây is OFF.\";\n    return [null, msg2]; // Send msg2 to output 2\n} else {\n    // If the payload is neither true nor false (unexpected case)\n    return null; // Do nothing\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "41b84ece01dda111"
            ]
        ]
    },
    {
        "id": "ee41fc482c8e0956",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "function 14",
        "func": "var msg1 = {};\nvar msg2 = {};\n\n// Check if the switch button sends true or false\nif (msg.payload === true) {\n    // If true, prepare a success notification\n    msg1.payload = \"Thông báo người dùng is ON.\";\n    return [msg1, null]; // Send msg1 to output 1\n} else if (msg.payload === false) {\n    // If false, prepare a failure notification\n    msg2.payload = \"Thông báo người dùng is OFF.\";\n    return [null, msg2]; // Send msg2 to output 2\n} else {\n    // If the payload is neither true nor false (unexpected case)\n    return null; // Do nothing\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "76a4d731af35fd36"
            ]
        ]
    },
    {
        "id": "9af89eefb86ee7cf",
        "type": "function",
        "z": "eb4cba9eeaea9dad",
        "name": "function 15",
        "func": "var msg1 = {};\nvar msg2 = {};\n\n// Check if the switch button sends true or false\nif (msg.payload === true) {\n    // If true, prepare a success notification\n    msg1.payload = \"Tự động điều chỉnh môi trường is ON.\";\n    return [msg1, null]; // Send msg1 to output 1\n} else if (msg.payload === false) {\n    // If false, prepare a failure notification\n    msg2.payload = \"Tự động điều chỉnh môi trường is OFF.\";\n    return [null, msg2]; // Send msg2 to output 2\n} else {\n    // If the payload is neither true nor false (unexpected case)\n    return null; // Do nothing\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "2961b0be3e0bfd49"
            ]
        ]
    },
    {
        "id": "79d0233c8e72285d",
        "type": "http request",
        "z": "eb4cba9eeaea9dad",
        "name": "Write data to DB",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=7PM0WMVTN41DD5KP&field3={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f2de467c252ece6d",
        "type": "mqtt out",
        "z": "eb4cba9eeaea9dad",
        "name": "",
        "topic": "/SmartLock/Control/DoorControl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e5231a0d25397df",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "a7f2f2ce3c024ed7",
        "type": "ui_text",
        "z": "eb4cba9eeaea9dad",
        "group": "5ce9ee3403a8972c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái cửa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 440,
        "wires": []
    }
]